@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #0c0c0c;
}

header nav img{
    padding: 28px 28px 28px 64px;
    height: 10vh;
}

main{
    align-items: center;
    height: calc(85vh - 125px);
}

.justify_center{
    justify-content: center;
}

.d_flex{
    display: flex;
}

.icones_container{
    display: flex;
}

.icone{
    padding: 5px;
    text-align: center;
    padding: 11px;
    cursor: pointer;
}

.icone:hover{
    background-color: #272727;
    transition: 0.2s;
}

.icone p{
    padding-top: 16px;
    color: white;
    font-family: "Roboto", Tahoma;
}

.titulo{
    color: white;
    font-family: "Roboto", Tahoma;
    font-size: 20px;
    padding-bottom: 28px;
    text-align: center;
}

.botao_perfis{
    margin-top: 12vh;
    background-color: #0c0c0c;
    border: 1px solid #c4c4c4;
    font-family: "Roboto", Tahoma;
    font-size: 22px;
    color: #c4c4c4;
    padding: 10px 26px 10px 26px;
    letter-spacing: 0.4vh;
}

.botao_perfis:hover{
    background-color: #272727;
    transition: 0.2s;
    cursor: pointer;
}